@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.image-container {
  transition: height 0.3s ease-in-out;
}
.image-container.default {
  height: 182.84px; /* Default size */
}
.image-container.hover:hover {
  height: 182.84px; /* Enlarged size on hover */
}
.image-container.default:hover ~ .image-container.hover {
  height: 73.97px; /* Decrease height of other images when one is hovered */
}
